<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service android:name="com.antew.redditinpictures.library.service.RedditService"/>

        <provider
            android:name="com.antew.redditinpictures.library.provider.RedditProvider"
            android:authorities="com.antew.redditinpictures.free"
            android:label="@string/app_name"
            android:exported="false"
            android:syncable="false"/>

        <activity
            android:name="com.antew.redditinpictures.ui.RedditFragmentActivityFree"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.antew.redditinpictures.ui.ImageDetailActivityFree"
            android:label="@string/app_name"
            android:parentActivityName="com.antew.redditinpictures.ui.RedditFragmentActivityFree"
            android:theme="@style/AppTheme.FullScreen.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antew.redditinpictures.ui.RedditFragmentActivityFree"/>
        </activity>

        <activity
            android:name="com.antew.redditinpictures.ui.ImgurAlbumActivityFree"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName="com.antew.redditinpictures.ui.ImageDetailActivityFree"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antew.redditinpictures.ui.ImageDetailActivityFree"/>
        </activity>

        <activity
            android:name="com.antew.redditinpictures.preferences.RedditInPicturesFreePreferencesFragment"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="com.antew.redditinpictures.preferences.RedditInPicturesFreePreferences"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="com.antew.redditinpictures.library.ui.About"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>