<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antew.redditinpictures.pro">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service android:name="com.antew.redditinpictures.library.service.RedditService"/>

        <provider
            android:name="com.antew.redditinpictures.library.provider.RedditProvider"
            android:authorities="com.antew.redditinpictures.pro"
            android:label="@string/app_name"
            android:exported="false"
            android:syncable="false"/>

        <activity
            android:name="com.antew.redditinpictures.library.ui.RedditFragmentActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.antew.redditinpictures.library.ui.ImageDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.antew.redditinpictures.library.ui.RedditFragmentActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antew.redditinpictures.library.ui.RedditFragmentActivity"/>
        </activity>

        <activity
            android:name="com.antew.redditinpictures.library.ui.ImgurAlbumActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.antew.redditinpictures.library.ui.ImageDetailActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antew.redditinpictures.library.ui.ImageDetailActivity"/>
        </activity>

        <activity
            android:name="com.antew.redditinpictures.library.preferences.RedditInPicturesPreferencesFragment"
            android:label="@string/app_name"/>

        <activity
            android:name="com.antew.redditinpictures.library.preferences.RedditInPicturesPreferences"
            android:label="@string/app_name"/>

        <activity
            android:name="com.antew.redditinpictures.library.ui.About"
            android:label="@string/about"/>

    </application>

</manifest>