<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antew.redditinpictures.pro">

    <application
        android:icon="@drawable/ic_launcher"
        android:name="com.antew.redditinpictures.library.RedditInPicturesApplication" />

</manifest>